.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* gap: 1rem; */
}

.form-container::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../../assets/bg-auth.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.form-container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40%;
    padding: 2rem 2rem 4rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}

.form-container h1 {
    font-size: 48px;
    color: white;
}

.form-container button:hover {
    background: var(--dark-orange);
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.form-container button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;
}

form label {
    margin: 0.3rem 0;
    font-size: 18px;
}

form input,
form select {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid var(--grey)
}

.file-input-btn {
    display: flex;
    flex-direction: column;
    
}

.other-auth-link {
    color: var(--orange);
}

.other-auth-link:hover {
    color: var(--dark-orange);
}

p {
    color: white;
}

@media only screen and (min-width: 1200px) {
    .form-container .form {
        width: 30%;
    }
}
