.contact-btn :hover {
    background: var(--dark-orange);
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.contact-btn {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;
}

.ReactModalPortal {
    z-index: 99999;
}

.contact-owner-form-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;
}
