
.ad-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
}

.ad-details img {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    margin: 2rem 0;
}

.description {
    font-size: 20px;
    line-height: 1.5;
    margin: 1rem 0;
}

.details-content {
    margin: 0 2rem;
}

.details-text {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.map {
    margin: 1rem;
}

@media only screen and (min-width: 1200px) {
    .img-content {
        flex-direction: row;
        justify-content: space-between;
        margin: 4rem 0;
    }

    .ad-details img {
        margin: 0;
    }

    .details-content {
        margin: 0;
    }
 }

.contact-btn :hover {
    background: var(--dark-orange);
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.contact-btn {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;

}

.ReactModalPortal {
    z-index: 99999;
}

.contact-owner-form-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;
}
