.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile-container h1 {
    font-size: 48px;
    color: var(--dark);
}

.user-profile-container h2,
h3,
p {
    color: var(--dark);
}

p {
    font-weight: 700;
}

.user-profile {
    padding: 2rem 1rem 4rem 1rem;
}

.user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-profile .profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-bottom: solid 1px var(--grey);
    padding-bottom: 2rem;
}

.user-profile .profile-picture form {
    margin: 1rem;

    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.user-profile .profile-picture img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.user-profile form {
    display: flex;
}

.user-profile form button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    font-size: 15px;
    font-family: 'quicksand', 'Roboto', sans-serif;
    box-shadow: 10px 10px 0px var(--dark);
    background: linear-gradient(
        to bottom right,
        var(--orange),
        var(--dark-orange)
    );
    color: white;
}

.user-profile form button:hover {
    background: var(--dark-orange);
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.user-profile .info-div {
    padding-top: 1rem;
}

input::file-selector-button {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--yellow);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'quicksand';
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

input::file-selector-button:hover,
input::file-selector-button:focus {
    background-color: var(--dark-orange);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input::file-selector-button:hover {
    transform: translateY(-1px);
}

input::file-selector-button:active {
    background-color: var(--yellow);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

@media only screen and (min-width: 1200px) {
    .user-profile {
        padding: 2rem 1rem 4rem 1rem;
        display: flex;
        width: 80%;
    }

    .user-profile .profile-picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        border: 1px solid var(--grey);
        margin-right: 3rem;
        padding: 3rem;
        border-radius: 7px;
    }

    .user-profile .profile-picture img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
}
