:root {
    --dark: #2a283c;
    --dark-orange: #ea5c2b;
    --orange: #ff7f3f;
    --yellow: #f0b237;
}

body {
    margin: 0;
    font-family: 'quicksand', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
