:root {
  --dark: #2A283C;
  --dark-orange: #EA5C2B;
  --orange: #FF7F3F;
  --yellow: #F0B237;
}

body {
    margin: 0;
    font-family: 'quicksand', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
