:root {
    --dark: #2a283c;
    --dark-orange: #ea5c2b;
    --orange: #ff7f3f;
    --yellow: #f0b237;
    --grey: #d0c9c0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0;
    font-family: 'quicksand', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    flex-grow: 1
}

h1,
h2,
h3,
h4 {
    font-family: 'Abril Fatface', 'quicksand';
    font-weight: light;
    margin: 0.5rem 0;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
p {
    font-size: 18px;
    margin: 0.5rem 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4 {
    font-family: 'Abril Fatface', 'quicksand';
    font-weight: light;
    margin: 0.5rem 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.app-wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

.wrapper {
    margin: 0 1rem;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        margin: 0 3rem;
    }
}
