.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}

.form-container::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-image: url('../../assets/bg-profile-page.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.form-container .new-ad-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    padding: 1rem 2rem;
    width: 20%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5rem 0 5rem 0;
}

.create-form {
    margin: 2rem 0;

}

.file-input-btn {
    border: none;
}

input::file-selector-button {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--yellow);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: quicksand;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    border: none;

}

input::file-selector-button:hover,
input::file-selector-button:focus {
    background-color: var(--dark-orange);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input::file-selector-button:hover {
    transform: translateY(-1px);
}

input::file-selector-button:active {
    background-color: var(--yellow);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

.form-container .submit-form-btn button:hover {
    color: white;
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.form-container button {
    background-color: var(--dark-orange);
    padding: 1rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    width: 70%;
    font-size: 18px;
    font-family: 'quicksand', 'Roboto', sans-serif;
}

.login-form input {
    width: 100%;
}

/* .create-form {
    margin-top: 7rem;
} */

.new-ad-form label, 
.login-form label {
    margin: 0.3rem 0;
    font-weight: 700;
    font-size: 28px;
    font-family: 'Abril Fatface', 'quicksand';
}

.login-form h1 {
    margin: 2rem 0;

}

.login-form p {
   color: white;
    margin: 1rem 0;
    font-size: 20px;
}

.new-ad-form input,
.new-ad-form textarea {
    box-sizing: border-box;
    font-size: 18px;
    outline: 0;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
    .form-container .new-ad-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 30%;
        padding: 1rem 2rem;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}
